{% extends 'admin/home.html' %}

{% block content %}
<div class="content-body">


    <!-- row -->
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <ol class="breadcrumb">
                            
                            <li class="breadcrumb-item"><a href="{% url 'admin-dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-curent="page">{{title}}</li>
                        </ol>
                        <a class="btn btn-sm btn-outline-info" href="{% url 'admin-reservation-form' %}"><i
                                class="fa fa-plus-square">Rejistu Reservation</i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Data Table</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Sex</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Room Number</th>
                                        <th>Room Type</th>
                                        <th>Price</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in reservation %}
                                    <tr>
                                        <td>{{i.guest.name}}</td>
                                        <td>{{i.guest.sex}}</td>
                                        <td>{{i.guest.email}}</td>
                                        <td>{{i.guest.phone}}</td>
                                        <td>{{i.room.room_number}}</td>
                                        <td>{{i.room.room_type}}</td>
                                        <td>{{i.room.price}}</td>
                                        <td>{{i.check_in_date}}</td>
                                        <td>{{i.check_out_date}}</td>
                                        <td>
                                            <a class="btn btn-outline-primary btn-sm" href="{% url 'admin-move-reservated' i.id %}">
                                                <li class="fa fa-check"></li>
                                            </a>
                                            
                                            <a class="btn btn-outline-danger btn-sm my-2" href="#" data-toggle="modal" data-target="#delete-{{ i.id }}"><li class="fa fa-trash"></li></a>
                                        </td>
                                    </tr>
                                    <div class="modal fade" id="delete-{{ i.id }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    Ita-boot hakarak hamoos dadus ho naran {{i.first_name}}?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                    <a href="{% url 'admin-reservation-delete'  i.id %}" class="btn btn-info">Yes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Room Number</th>
                                        <th>Room Type</th>
                                        <th>Price</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}