{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-8">
        <div class="card shadow-lg pt-3 rounded text-center">
            <div class="card-body">
                <small class="text-muted">
                    <h2>Your booking was successful!</h2>
                    <p>Thank you for booking with us. We look forward to your stay.</p> 
                    <a class="btn btn-outline-primary btn-sm mt-3" href="{% url 'room' %}">
                        Continue to Room Selection <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </small>
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->

{% endblock %}